name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      GITHUB_TOKEN: "${{secrets.GITHUB_TOKEN}}"
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
    steps:
      - name: "checkout"
        uses: actions/checkout@v1

      - name: "attach git head"
        run: git checkout "${GITHUB_REF#refs/heads/}"

      - name: "setup JDK"
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: "get generic mvg-info"
        uses: ModelingValueGroup/generic-info@master

      - name: "get buildtools"
        uses: ModelingValueGroup/buildtools@master

      - name: "prepare ant"
        run:  |
          cat <<EOF >build.properties
          jdk.home.11=$JAVA_HOME
          path.variable.maven_repository=$HOME/.m2/repository
          EOF

      - name: "(re)generate some files"
        run:  |
          . <(java -jar ~/buildtools.jar)
          generateAll
          correctEols
          correctHeaders header

      - name: "push changes back to github"
        run:  |
          . <(java -jar ~/buildtools.jar)
          pushBackToGithub

      - name: "download dependencies (as mentioned in pom)"
        run:  |
          . <(java -jar ~/buildtools.jar)
          getAllDependencies
          installJunitlauncher

      - name: "build"
        run:  ant

      - name: "test"
        run:  |
          if ! ant test; then
            for i in TEST-*.xml; do
              echo "=============== $i"
              sed "s/^/>> /" $i
            done
            exit 42
          fi

      - name: "generate javadoc"
        run:  ant javadoc

      - name: "publish action-artifact jar"
        uses: actions/upload-artifact@v1
        with:
          name: serviceBrainstorm.jar
          path: out/artifacts/serviceBrainstorm.jar

      - name: "publish action-artifact sources"
        uses: actions/upload-artifact@v1
        with:
          name: serviceBrainstorm-sources.jar
          path: out/artifacts/serviceBrainstorm-sources.jar

      - name: "publish action-artifact javadoc"
        uses: actions/upload-artifact@v1
        with:
          name: serviceBrainstorm-javadoc.jar
          path: out/artifacts/serviceBrainstorm-javadoc.jar

      - name: "publish action-artifact test-results"
        uses: actions/upload-artifact@v1
        with:
          name: serviceBrainstorm-testresults.jar
          path: out/artifacts/serviceBrainstorm-testresults.jar

      - name: "if NOT master: saving snapshots for other projects on this branch"
        if: github.ref != 'refs/heads/master'
        run: |
          . <(java -jar ~/buildtools.jar)
          storeMyBranchSnapshots

      - name: "if master: tag with version"
        if: github.ref == 'refs/heads/master'
        run: |
          . <(java -jar ~/buildtools.jar)
          setVersionTag

      - name: "if master: publish maven-artifacts (jar/pom/sources/javadoc)"
        uses: ModelingValueGroup/upload-maven-package-action@master
        if  : github.ref == 'refs/heads/master'
        with:
          file : "out/artifacts/serviceBrainstorm.jar"

      - ########################################################################################################
        name: "prepare"
        run: |
          if [[ "${{secrets.ALLREP_TOKEN}}" == "" ]]; then
           echo "::error::you did not set a login token for the GitHub Container Registry: secrets.ALLREP_TOKEN"
           exit 1
          fi

          cat <<EOF >runServer.sh
          #!/bin/bash
          echo "serviceBrainstorm server starting..."
          java -jar /serviceBrainstorm.jar
          echo "serviceBrainstorm server stopped..."
          EOF
          chmod +x runServer.sh

          cat <<EOF >Dockerfile
          FROM ubuntu:latest
          LABEL org.opencontainers.image.source="https://github.com/${{github.repository}}" \
                org.opencontainers.image.title="service brainstorm image" \
                org.opencontainers.image.description="service brainstorm image"
          COPY runServer.sh /
          COPY out/artifacts/serviceBrainstorm.jar /
          ENTRYPOINT ["/runServer.sh"]
          EOF

      - ########################################################################################################
        name: "build and publish image"
        run: |
          branch="$(sed 's|[^a-z]||g' <<<${GITHUB_REF#refs/heads/})"
          repoLC="$(tr '[A-Z]' '[a-z]' <<<${{github.repository}})"

          docker build --label org.opencontainers.image.revision=${{github.sha}} --iidfile serviceBrainstorm.id .
          docker tag    "$(cat serviceBrainstorm.id)" "ghcr.io/$repoLC:$branch"
          docker login  "ghcr.io" -u ${{github.repository_owner}} --password-stdin <<<"${{secrets.ALLREP_TOKEN}}"
          docker push   "ghcr.io/$repoLC:$branch"
          docker logout "ghcr.io"